body {
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    counter-reset: row-num;
}

table tbody tr {
    counter-increment: row-num;
}
table tbody tr td:first-child::before {
    content: counter(row-num);
}

th, td {
    border-bottom: 1px solid #ddd;
}

th {
    height: 30px;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}